server/node_modules/
client/node_modules/

server/.env
client/.env

# Python
python/__pycache__/
python/*.py[cod]
python/*$py.class
python/*.so
python/.Python
python/venv/

# Data
python/data/

# Models
python/models/

# IDEs
python/.vscode/
python/.idea/

# Jupyter Notebook
python/.ipynb_checkpoints

# Distribution / packaging
python/dist/
python/build/
python/*.egg-info/


server/node_modules
python/venv
python/datasets
python/saved_models
python/model_training
webSocket/node_modules
sockets/node_modules
testing/node_modules
testing/cypress/node_modules
.vscode/

python/__pycache__
python/datasets
python/env
python/models
testing/jest/node_modules
